.tile {
  width: calc(50rem / 7 - 8px);
  height: calc(50rem / 7 - 8px);
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  margin: 4px;
}
.tile div {
  position: relative;
  width: calc(50rem / 7 - 8px);
  height: calc(50rem / 7 - 8px);
  border-radius: 50%;
  top: -40rem;
  transition: transform 0.5s;
}

.red {
  width: calc(50rem / 7 - 8px);
  height: calc(50rem / 7 - 8px);
  background-image: linear-gradient(rgb(255, 255, 255), #9c0505);
  border-radius: 50%;
  transition: background-image 0.5s;
  transform: translateY(40rem);
}

.yellow {
  width: calc(50rem / 7 - 8px);
  height: calc(50rem / 7 - 8px);
  background-image: linear-gradient(rgb(255, 254, 233), rgb(212, 212, 0));
  border-radius: 50%;
  transition: background-image 0.5s;
  transform: translateY(40rem);
}
